/server/healthaggregation/healthaggregation/static/cache_manifest.json
/server/healthaggregation/.idea/
/client-python/healthaggregation/.idea/
/client-python/healthaggregation/__pycache__/
/client-android/app/google-services.json
