
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">This System was created by <a href="https://github.com/benstrobel">Benedikt Strobel</a> as part of a bachelor thesis</p>
    </div>

    <h3 class="mt-5">Credit</h3>
    <div class="row">
      <div>Healthaggregation icon made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>
{% endblock %}

