{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Responses for Request {{ request.id }}</h1>

        <div class="row mt-5">
            <h4>Requested URL: {{ request.requested_url }}</h4>
            <h4>Requested At: {{ request.created_at }}</h4>
            <h4>Requested By: {{ request.user.username }}</h4>
            <h4>Dimensionality: {{ request.expected_dimensionality }}</h4>
            <h4></h4>
            <h4>Average: {{ avg }}</h4>
            <h4>Sum: {{ sum }}</h4>
            <h4></h4>
            <h4>First Round Participants: {{ first_round_participants }}</h4>
            <h4>Response Round Participants: {{ second_round_participants }}</h4>
            <h4>Recovery Round Participants: {{ third_round_participants }}</h4>
            <h4></h4>
            {%  if print_reconstruction_warning %}
                <h4 style="color: red">WARNING: Not enough clients have participated in the recovery round. The correct aggregates could not be reconstructed</h4>
            {% endif %}
            {%  if first_round_participants > 3 %}
                <h4 style="color: red">WARNING: Too few clients have participated. The secure aggregation protocol requires at least 3 participants in the first round</h4>
            {% endif %}
        </div>
        <div class="row mt-5">
            <div class="col align-self-end">
                <a class="btn btn-secondary float-end" role="button" href="{{ url_for('public.home') }}">Back</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for response in request.responses %}
                <tr>
                    <th scope="row">{{response.id}}</th>
                    <td>{{response.data}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}